In [1]:
import pandas as pd
unames = ['userid','gender','age','occupation','zip']

In [3]:
users = pd.read_table('ml-1m/users.dat',sep='::',header=None,names=unames)

c:\users\tang\envs\mz_pandas\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [4]:
print len(users)
users.head()

6040

   userid gender  age  occupation    zip
0       1      F    1          10  48067
1       2      M   56          16  70072
2       3      M   25          15  55117
3       4      M   45           7  02460
4       5      M   25          20  55455

In [6]:
rating_names = ['userid','movieid','rating','timestamp']
ratings = pd.read_table('ml-1m/ratings.dat',sep='::',header=None,names=rating_names)
movie_names = ['movieid','title','genres']
movies = pd.read_table('ml-1m/movies.dat',sep='::',header=None,names=movie_names)

c:\users\tang\envs\mz_pandas\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app
c:\users\tang\envs\mz_pandas\lib\site-packages\ipykernel\__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [7]:
print len(ratings)
ratings.head()

1000209

   userid  movieid  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [8]:
print len(movies)
movies.head()

3883

   movieid                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [9]:
data = pd.merge(pd.merge(users,ratings),movies)

In [10]:
print len(data)
data.head()

1000209

,userid,gender,age,occupation,zip,movieid,rating,timestamp,title,genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

In [12]:
data[data.userid==1]

,userid,gender,age,occupation,zip,movieid,rating,timestamp,title,genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1725,1,F,1,10,48067,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2250,1,F,1,10,48067,914,3,978301968,My Fair Lady (1964),Musical|Romance
2886,1,F,1,10,48067,3408,4,978300275,Erin Brockovich (2000),Drama
4201,1,F,1,10,48067,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy
5904,1,F,1,10,48067,1197,3,978302268,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
8222,1,F,1,10,48067,1287,5,978302039,Ben-Hur (1959),Action|Adventure|Drama
8926,1,F,1,10,48067,2804,5,978300719,"Christmas Story, A (1983)",Comedy|Drama
10278,1,F,1,10,48067,594,4,978302268,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical
11041,1,F,1,10,48067,919,4,978301368,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical
12759,1,F,1,10,48067,595,5,978824268,Beauty and the Beast (1991),Animation|Children's|Musical
13819,1,F,1,10,48067,938,4,978301752,Gigi (1958),Musical
14006,1,F,1,10,48067,2398,4,978302281,Miracle on 34th Street (1947),Drama
14386,1,F,1,10,48067,2918,4,978302124,Ferris Bueller's Day Off (1986),Comedy
15859,1,F,1,10,48067,1035,5,978301753,"Sound of Music, The (1965)",Musical
16741,1,F,1,10,48067,2791,4,978302188,Airplane! (1980),Comedy
18472,1,F,1,10,48067,2687,3,978824268,Tarzan (1999),Animation|Children's
18914,1,F,1,10,48067,2018,4,978301777,Bambi (1942),Animation|Children's
19503,1,F,1,10,48067,3105,5,978301713,Awakenings (1990),Drama
20183,1,F,1,10,48067,2797,4,978302039,Big (1988),Comedy|Fantasy
21674,1,F,1,10,48067,2321,3,978302205,Pleasantville (1998),Comedy
22832,1,F,1,10,48067,720,3,978300760,Wallace & Gromit: The Best of Aardman Animatio...,Animation
23270,1,F,1,10,48067,1270,5,978300055,Back to the Future (1985),Comedy|Sci-Fi
25853,1,F,1,10,48067,527,5,978824195,Schindler's List (1993),Drama|War
28157,1,F,1,10,48067,2340,3,978300103,Meet Joe Black (1998),Romance
28501,1,F,1,10,48067,48,5,978824351,Pocahontas (1995),Animation|Children's|Musical|Romance
28883,1,F,1,10,48067,1097,4,978301953,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
31152,1,F,1,10,48067,1721,4,978300055,Titanic (1997),Drama|Romance
32698,1,F,1,10,48067,1545,4,978824139,Ponette (1996),Drama
32771,1,F,1,10,48067,745,3,978824268,"Close Shave, A (1995)",Animation|Comedy|Thriller
33428,1,F,1,10,48067,2294,4,978824291,Antz (1998),Animation|Children's
34073,1,F,1,10,48067,3186,4,978300019,"Girl, Interrupted (1999)",Drama
34504,1,F,1,10,48067,1566,4,978824330,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical
34973,1,F,1,10,48067,588,4,978824268,Aladdin (1992),Animation|Children's|Comedy|Musical
36324,1,F,1,10,48067,1907,4,978824330,Mulan (1998),Animation|Children's
36814,1,F,1,10,48067,783,4,978824291,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical
37204,1,F,1,10,48067,1836,5,978300172,"Last Days of Disco, The (1998)",Drama
37339,1,F,1,10,48067,1022,5,978300055,Cinderella (1950),Animation|Children's|Musical
37916,1,F,1,10,48067,2762,4,978302091,"Sixth Sense, The (1999)",Thriller
40375,1,F,1,10,48067,150,5,978301777,Apollo 13 (1995),Drama
41626,1,F,1,10,48067,1,5,978824268,Toy Story (1995),Animation|Children's|Comedy
43703,1,F,1,10,48067,1961,5,978301590,Rain Man (1988),Drama
45033,1,F,1,10,48067,1962,4,978301753,Driving Miss Daisy (1989),Drama
45685,1,F,1,10,48067,2692,4,978301570,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
46757,1,F,1,10,48067,260,4,978300760,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
49748,1,F,1,10,48067,1028,5,978301777,Mary Poppins (1964),Children's|Comedy|Musical
50759,1,F,1,10,48067,1029,5,978302205,Dumbo (1941),Animation|Children's|Musical
51327,1,F,1,10,48067,1207,4,978300719,To Kill a Mockingbird (1962),Drama
52255,1,F,1,10,48067,2028,5,978301619,Saving Private Ryan (1998),Action|Drama|War
54908,1,F,1,10,48067,531,4,978302149,"Secret Garden, The (1993)",Children's|Drama
55246,1,F,1,10,48067,3114,4,978302174,Toy Story 2 (1999),Animation|Children's|Comedy
56831,1,F,1,10,48067,608,4,978301398,Fargo (1996),Crime|Drama|Thriller
59344,1,F,1,10,48067,1246,4,978302091,Dead Poets Society (1989),Drama

In [13]:
data[data.movieid==1193]

,userid,gender,age,occupation,zip,movieid,rating,timestamp,title,genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,F,18,3,95825,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,M,1,10,48073,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,F,25,7,10023,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,F,25,1,14607,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,M,45,3,55421,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,M,18,4,61820,1193,5,978043535,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,M,25,8,24502,1193,3,978038981,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,M,45,17,98052,1193,4,978018995,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,M,18,4,94305,1193,4,977978345,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,M,25,4,92107,1193,4,977975061,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,M,18,12,77084,1193,4,978813972,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,M,25,0,96931,1193,5,977946400,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,M,50,1,56723,1193,5,977944039,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,M,25,2,30303,1193,5,977933866,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,F,50,1,55413,1193,4,977934292,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,F,35,3,98105,1193,4,977968584,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,M,56,1,49327,1193,4,977786172,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,F,25,0,60640,1193,5,977785864,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,F,45,1,02476,1193,5,977694161,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,F,56,9,85749,1193,5,977683596,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,M,45,0,98201,1193,5,977626632,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,F,25,16,78028,1193,3,977621789,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,F,1,10,19390,1193,2,982791053,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,M,35,19,20871,1193,5,1040737607,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,M,25,12,00926,1193,2,977546620,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1695,5950,M,25,4,19713,1193,5,957179797,One Flew Over the Cuckoo's Nest (1975),Drama
1696,5953,M,1,10,21030,1193,4,957143964,One Flew Over the Cuckoo's Nest (1975),Drama
1697,5954,M,45,11,70802,1193,5,957702632,One Flew Over the Cuckoo's Nest (1975),Drama
1698,5956,F,18,4,02142,1193,5,957076969,One Flew Over the Cuckoo's Nest (1975),Drama
1699,5958,M,45,14,94301,1193,5,957062662,One Flew Over the Cuckoo's Nest (1975),Drama
1700,5962,M,35,7,80221,1193,5,957020008,One Flew Over the Cuckoo's Nest (1975),Drama
1701,5964,M,18,5,97202,1193,5,956993085,One Flew Over the Cuckoo's Nest (1975),Drama
1702,5965,M,25,17,77449,1193,5,956975251,One Flew Over the Cuckoo's Nest (1975),Drama
1703,5967,M,50,16,73069-5429,1193,4,956968663,One Flew Over the Cuckoo's Nest (1975),Drama
1704,5972,F,25,20,55428,1193,4,956952260,One Flew Over the Cuckoo's Nest (1975),Drama
1705,5974,F,25,1,32303,1193,3,956947130,One Flew Over the Cuckoo's Nest (1975),Drama
1706,5975,M,25,14,55104,1193,5,956944907,One Flew Over the Cuckoo's Nest (1975),Drama
1707,5976,F,25,1,26542,1193,4,956944791,One Flew Over the Cuckoo's Nest (1975),Drama
1708,5977,M,35,1,90012,1193,5,957028687,One Flew Over the Cuckoo's Nest (1975),Drama
1709,5978,M,35,1,49307,1193,5,956958922,One Flew Over the Cuckoo's Nest (1975),Drama
1710,5980,M,56,1,42503,1193,3,956937997,One Flew Over the Cuckoo's Nest (1975),Drama
1711,5981,M,35,7,01776,1193,4,956931366,One Flew Over the Cuckoo's Nest (1975),Drama
1712,5986,F,56,1,01060,1193,5,956887600,One Flew Over the Cuckoo's Nest (1975),Drama
1713,5999,F,25,1,55455,1193,4,956846265,One Flew Over the Cuckoo's Nest (1975),Drama
1714,6001,F,25,7,94117,1193,5,956801721,One Flew Over the Cuckoo's Nest (1975),Drama
1715,6002,M,50,0,43231,1193,5,960005521,One Flew Over the Cuckoo's Nest (1975),Drama
1716,6011,M,35,15,80538,1193,4,956786742,One Flew Over the Cuckoo's Nest (1975),Drama
1717,6016,M,45,1,37209,1193,3,956957612,One Flew Over the Cuckoo's Nest (1975),Drama
1718,6021,M,25,12,08876,1193,5,956755665,One Flew Over the Cuckoo's Nest (1975),Drama
1719,6032,M,45,7,55108,1193,5,956717564,One Flew Over the Cuckoo's Nest (1975),Drama
1720,6033,M,50,13,78232,1193,5,956713500,One Flew Over the Cuckoo's Nest (1975),Drama
1721,6035,F,25,1,78734,1193,5,956710879,One Flew Over the Cuckoo's Nest (1975),Drama
1722,6036,F,25,15,32603,1193,5,956710766,One Flew Over the Cuckoo's Nest (1975),Drama
1723,6037,F,45,1,76006,1193,4,956709215,One Flew Over the Cuckoo's Nest (1975),Drama
1724,6040,M,25,6,11106,1193,4,957716612,One Flew Over the Cuckoo's Nest (1975),Drama

In [15]:
rating_by_gender = data.pivot_table(values='rating',index='title',columns='gender',aggfunc='mean')

In [17]:
rating_by_gender.head(10)

gender                                    F         M
title
$1,000,000 Duck (1971)             3.375000  2.761905
'Night Mother (1986)               3.388889  3.352941
'Til There Was You (1997)          2.675676  2.733333
'burbs, The (1989)                 2.793478  2.962085
...And Justice for All (1979)      3.828571  3.689024
1-900 (1994)                       2.000000  3.000000
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421

In [18]:
rating_by_gender['diff'] = rating_by_gender.F - rating_by_gender.M
rating_by_gender.head(10)

gender                                    F         M      diff
title
$1,000,000 Duck (1971)             3.375000  2.761905  0.613095
'Night Mother (1986)               3.388889  3.352941  0.035948
'Til There Was You (1997)          2.675676  2.733333 -0.057658
'burbs, The (1989)                 2.793478  2.962085 -0.168607
...And Justice for All (1979)      3.828571  3.689024  0.139547
1-900 (1994)                       2.000000  3.000000 -1.000000
10 Things I Hate About You (1999)  3.646552  3.311966  0.334586
101 Dalmatians (1961)              3.791444  3.500000  0.291444
101 Dalmatians (1996)              3.240000  2.911215  0.328785
12 Angry Men (1957)                4.184397  4.328421 -0.144024

In [26]:
rating_by_gender.sort_values(by='diff',ascending=False).head(10)

gender,F,M,diff
title,,,
"James Dean Story, The (1957)",4.000000,1.000000,3.000000
"Spiders, The (Die Spinnen, 1. Teil: Der Goldene See) (1919)",4.000000,1.000000,3.000000
Country Life (1994),5.000000,2.000000,3.000000
Babyfever (1994),3.666667,1.000000,2.666667
"Woman of Paris, A (1923)",5.000000,2.428571,2.571429
Cobra (1925),4.000000,1.500000,2.500000
"Other Side of Sunday, The (S�ndagsengler) (1996)",5.000000,2.928571,2.071429
Theodore Rex (1995),3.000000,1.000000,2.000000
For the Moment (1994),5.000000,3.000000,2.000000
"Separation, The (La S�paration) (1994)",4.000000,2.000000,2.000000

In [30]:
rating_by_title = data.groupby('title').size()
rating_by_title.head(10)

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [36]:
rating_by_title.sort_values(ascending=False).head(10)

title
American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
Saving Private Ryan (1998)                               2653
Terminator 2: Judgment Day (1991)                        2649
Matrix, The (1999)                                       2590
Back to the Future (1985)                                2583
Silence of the Lambs, The (1991)                         2578
dtype: int64

In [38]:
mean_rating = data.pivot_table(values='rating',index='title',aggfunc='mean')

In [48]:
mean_rating.sort_values(ascending=False).head(10)

title
Gate of Heavenly Peace, The (1995)           5.0
Lured (1947)                                 5.0
Ulysses (Ulisse) (1954)                      5.0
Smashing Time (1967)                         5.0
Follow the Bitch (1998)                      5.0
Song of Freedom (1936)                       5.0
Bittersweet Motel (2000)                     5.0
Baby, The (1973)                             5.0
One Little Indian (1973)                     5.0
Schlafes Bruder (Brother of Sleep) (1995)    5.0
Name: rating, dtype: float64

In [49]:
top_10_hot = rating_by_title.sort_values(ascending=False).head(10)
top_10_hot

title
American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
Saving Private Ryan (1998)                               2653
Terminator 2: Judgment Day (1991)                        2649
Matrix, The (1999)                                       2590
Back to the Future (1985)                                2583
Silence of the Lambs, The (1991)                         2578
dtype: int64

In [50]:
mean_rating[top_10_hot.index]

title
American Beauty (1999)                                   4.317386
Star Wars: Episode IV - A New Hope (1977)                4.453694
Star Wars: Episode V - The Empire Strikes Back (1980)    4.292977
Star Wars: Episode VI - Return of the Jedi (1983)        4.022893
Jurassic Park (1993)                                     3.763847
Saving Private Ryan (1998)                               4.337354
Terminator 2: Judgment Day (1991)                        4.058513
Matrix, The (1999)                                       4.315830
Back to the Future (1985)                                3.990321
Silence of the Lambs, The (1991)                         4.351823
Name: rating, dtype: float64

In [51]:
top_20_score = mean_rating.sort_values(ascending=False).head(20)

In [52]:
rating_by_title[top_20_score.index]

title
Gate of Heavenly Peace, The (1995)                                        3
Lured (1947)                                                              1
Ulysses (Ulisse) (1954)                                                   1
Smashing Time (1967)                                                      2
Follow the Bitch (1998)                                                   1
Song of Freedom (1936)                                                    1
Bittersweet Motel (2000)                                                  1
Baby, The (1973)                                                          1
One Little Indian (1973)                                                  1
Schlafes Bruder (Brother of Sleep) (1995)                                 1
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                                       5
Lamerica (1994)                                                           8
Apple, The (Sib) (1998)                                                   9
Sanjuro (1962)                                                           69
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)     628
Shawshank Redemption, The (1994)                                       2227
Godfather, The (1972)                                                  2223
Close Shave, A (1995)                                                   657
Usual Suspects, The (1995)                                             1783
Schindler's List (1993)                                                2304
dtype: int64

In [53]:
hot_movies = rating_by_title[rating_by_title>1000]

In [54]:
print len(hot_movies)
hot_movies.head()

207

title
Boat, The (Das Boot) (1981)                      1001
Star Trek VI: The Undiscovered Country (1991)    1001
Truman Show, The (1998)                          1005
Cocoon (1985)                                    1006
Mummy, The (1999)                                1007
dtype: int64

In [61]:
top_10_good_movies = mean_rating[hot_movies.index].sort_values(ascending=False).head(10)
top_10_good_movies

title
Shawshank Redemption, The (1994)                                               4.554558
Godfather, The (1972)                                                          4.524966
Usual Suspects, The (1995)                                                     4.517106
Schindler's List (1993)                                                        4.510417
Raiders of the Lost Ark (1981)                                                 4.477725
Rear Window (1954)                                                             4.476190
Star Wars: Episode IV - A New Hope (1977)                                      4.453694
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)    4.449890
Casablanca (1942)                                                              4.412822
Sixth Sense, The (1999)                                                        4.406263
Name: rating, dtype: float64